node_modules
public
build
/bin/**/*.js*
/webpack/**/*.js*
out
craco.config.js
package.json
.prettierignore
.gitignore
yarn.lock
.editorconfig
.eslintignore
yarn-error.log
*.md
postcss.config.js

# src/pages/app.tsx
