@import "react-quill/dist/quill.snow.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: white;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  font-size: 13px;
}

@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
}
@layer components {
  .text-primary {
    @apply text-[13px] font-semibold leading-normal;
  }
  .text-secondary {
    @apply font-[500] text-[#777];
  }
  .text-title {
    @apply text-2xl text-[18px] font-semibold;
  }
  .text-heading {
    @apply text-[16px] text-xl font-semibold;
  }
  .button-disabled {
    @apply cursor-not-allowed bg-[#ccc] text-[#666];
  }
  .common-border {
    @apply border-[rgba(0,0,0,0.12)];
  }
  .common-input-border {
    @apply border-[1px] border-[rgba(0,0,0,0.23)];
  }
}
/* Style for rich text editors */
.ql-toolbar,
.ql-container {
  border: none !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.ql-container {
  font-family: inherit !important;
  min-height: 193px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ql-container .textarea-emoji-control {
  display: none;
}

.create-task .ql-container {
  min-height: 179px;
}

.text-comment-container .ql-container {
  min-height: 80px !important;
}

.quill .ql-toolbar.ql-snow {
  padding-bottom: 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.ql-container .ql-editor.ql-blank::before {
  font-style: normal !important;
}

.ql-container .ql-editor {
  min-height: 90px;
  font-size: 16px;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  outline: none;
}
.ql-container .ql-editor p {
  line-height: 36px;
}
.ql-container .ql-editor .ql-emojiblot {
  margin-top: -6px;
  vertical-align: unset;
}

p {
  line-height: 36px;
}

.ql-emojiblot {
  margin-top: -6px;
  vertical-align: unset;
}

.ql-formats button {
  width: 24px !important;
  height: 20px !important;
}

/* Redefine Quill class */
ul {
  list-style: disc;
  list-style-position: inside;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

li {
  padding-left: 1.5rem;
}

pre {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  padding: 5px 10px;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
blockquote span.ql-emojiblot {
  vertical-align: baseline;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.task-preview h1 {
  font-size: 2em;
}
.task-preview h2 {
  font-size: 1.5em;
}
.task-preview .ql-size-small {
  font-size: 0.75em;
}
.task-preview .ql-size-large {
  font-size: 1.5em;
}
.task-preview .ql-size-huge {
  font-size: 2.5em;
}

.ql-editor .ql-size-small {
  font-size: 10px !important;
  line-height: 14px !important;
}
.ql-editor .ql-size-normal {
  font-size: 13px !important;
  line-height: 20px !important;
}
.ql-editor > p {
  font-size: 13px !important;
  line-height: 20px !important;
}
.ql-editor .ql-size-large {
  font-size: 16px !important;
  line-height: 24px !important;
}
.ql-editor .ql-size-huge {
  font-size: 20px !important;
  line-height: 28px !important;
}

/* Class for carousel slider */
.react-multi-carousel-list {
  position: relative;
}

.react-multi-carousel-list::before {
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 220px;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
}

.comment .react-multi-carousel-list::before {
  background: linear-gradient(to right, transparent, rgb(248, 250, 252));
}

li.react-multi-carousel-item,
li.emoji-tab {
  padding-left: 0;
  margin-right: 5px;
}

.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow--left::before {
  color: #333;
}
.react-multiple-carousel__arrow--right:hover,
.react-multiple-carousel__arrow--left:hover {
  background-color: white;
  opacity: 0.6;
}

#emoji-palette .bem {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.main-content-container::-webkit-scrollbar {
  width: 0px;
}

.text-comment-container {
  word-break: break-word;
}

.vertical-grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;
  overflow: hidden;
}

.MuiPagination-root li {
  padding-left: 0;
}

select[disabled] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.job-content-container-overlay {
  background: linear-gradient(to bottom, transparent, #fff calc(100% + 20px));
}

li.select-search-row {
  padding-left: 0;
}

#emoji-close-div {
  pointer-events: none;
}

.MuiInputBase-input {
  font-size: 13px !important;
}

.MuiInputBase-sizeSmall {
  height: 40px !important;
}

.MuiAutocomplete-popper li {
  font-size: 13px !important;
  background-color: white;
}

li.MuiMenuItem-gutters {
  font-size: 13px !important;
}

.task-preview-container::-webkit-scrollbar-track {
  background: #ccc;
}

.task-preview-container::-webkit-scrollbar {
  width: 5px;
}

.task-preview-container::-webkit-scrollbar-thumb {
  background-color: #0054a6;
}

.grid-stacking-content {
  grid-row: 1/2;
}

.MuiMultiSectionDigitalClock-root::-webkit-scrollbar {
  width: 0;
  display: none;
}

.MuiAutocomplete-noOptions {
  font-size: 13px !important;
}

.breath {
  animation: breath 0.6s linear infinite alternate-reverse;
}

@keyframes breath {
  0% {
    opacity: 80%;
  }
  100% {
    opacity: 10%;
  }
}
.security {
  -webkit-text-security: disc;
} /*# sourceMappingURL=index.css.map */
